#kuvat{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.setti{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.setti h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.setti p {
    margin-top: 0;
    margin-bottom: 30px;
}
.teksti{
    padding-left: 30px;
    max-width: 570px;
    line-height: 30px;
}

@media (max-width:1300px){

    #teksti{
        min-width: 700px;
        margin: auto;
        padding-bottom: 30px;
        padding-left: 0;
    }
}
