@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: GalanoClassic,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #a8d0db;
    color: black;

}

.dark-mode {
    background-color:rgb(32, 31, 31);
    color: white;
}


main {
    margin-top: 150px;
    min-height: 69vh;
    padding: 30px 30px 0;
}
.vetonappi {
    background-color: #0C5E6E;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;

}
#teemanappi {
    position: absolute;
    background-color: #0C5E6E;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    left: 20px;
    top: 90px;
}
.teemacontainer:hover #teemanappi {
    background-color: #0C5E6E;
    box-shadow: 0 0 5px #0C5E6E;
}

.vetovalikko {
    position: absolute;
    right: 20px;
    top: 90px;
}

.sisalto {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.sisalto a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sisalto a:hover {
    background-color: #15A4C1;
    box-shadow: 0 0 5px #15A4C1;
}

.vetovalikko:hover .sisalto {
    display: block;
}

.vetovalikko:hover .vetonappi {
    background-color: #0C5E6E;
    box-shadow: 0 0 5px #0C5E6E;
}

#otsikko{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#valikko {
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    margin: 10px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

li {

    display:block;
    position: relative;
    width:120px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
#menu a{
    display:block;
    padding:3px;
    color: #0C5E6E;
    text-decoration: none;
}
#ylapalkki {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #0C5E6E;
    text-shadow: 0 0 1px #0C5E6E;
    text-decoration: underline;
}

#reittihaku {
    max-width: 1000px;
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 0 10px #c9c8c8;
}

footer img {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
@media (max-width:800px) {
#menu   {
    display: none;
}
#container2 {
    flex-direction: column;
}
}
@media (min-width:800px) {
    .vetovalikko {
        display: none;
    }
}