@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: GalanoClassic,sans-serif;
}

h1{
    text-align: center;
    font-size: 45px;
    margin: 30px;
}
#map {
    height: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

#valikko {

    display: table;
    margin: 30px auto;

}
#maintext {
    margin: 70px 25%;
    line-height: 30px;
    text-wrap: avoid;
}

#menu {
    margin: 10px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

li {
    display:block;
    position: relative;
    width:150px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
#paakuva {
    width: 100%;
    margin-top: 200px;
}
#menu a{
    display:block;
    padding:3px;
    background-color:#fff;
    color: rgba(0, 0, 255, 0.7);
    text-decoration: none;
}
#ylapalkki {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 208px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #0000ff;
    text-decoration: underline;
}

#reittihaku {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width:800px) {
#menu   {
    display: none;
}

}
@media (min-width:800px) {
    .dropdown {
        display: none;
    }
}