@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: GalanoClassic,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #a8d0db;
    color: black;

}

.dark-mode {
    background-color:rgb(32, 31, 31);
    color: white;
}


main {
    margin-top: 150px;
    min-height: 69vh;
    padding: 30px 30px 0;
}

#otsikko{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#valikko {
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    margin: 10px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

li {
    top: -40px;
    display:block;
    position: relative;
    width:120px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
#menu a{
    display:block;
    padding:3px;
    color: #0C5E6E;
    text-decoration: none;
}
#ylapalkki {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #0C5E6E;
    text-shadow: 0 0 1px #0C5E6E;
    text-decoration: underline;
}

#reittihaku {
    max-width: 1000px;
}
#saa {
    max-width: 1000px;

}
#saaNimi {
    text-decoration: underline;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
#container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
}
#container2 {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
#ikoni {
    text-align: center;
    margin-top: -15px;
  }
#ikoni p {
    margin-top: -20px;
}
#saaTiedot p{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
}

.teemaBtn-container {
    width: 160px;
    margin-left: 20px;
    margin-top: 30px;
}
#teemaBtn {
    width: 160px;

}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 0 10px #c9c8c8;
}

footer img {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
@media (max-width:950px) {
#menu   {
    display: none;
}
#container2 {
    flex-direction: column;
}
}
@media (min-width:950px) {
    .vetovalikko {
        display: none;
    }
}