
.containertekijat {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}
.box1 {
    height: 200px;
}
.box2 {
    padding: 40px;
    width: 430px;
}
.henkilokuva {
    height: 200px;
    width: 200px;
}
.nimi {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ammatti {
    margin-top: 5px;
    margin-bottom: 5px;
}
.puhelin {
    margin-top: 5px;
    margin-bottom: 5px;
}
.puhelin a {
    text-decoration: none;
    color: #0C5E6E;
}
.sahkoposti {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sahkoposti a {
    text-decoration: none;
    color: #0C5E6E;
}
.sahkoposti a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #0C5E6E;
    text-decoration: underline;
}
.puhelin a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #0C5E6E;
    text-decoration: underline;
}
#yleiskuvaus {
    line-height: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#yleiskuvaus h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
#yleiskuvaus p {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: justify;
}
#yleiskuvaus a {
    margin-top: 0;
    margin-bottom: 30px;
}
@media (max-width:800px) {
    .box2{
        width: 250px;
    }
}
@media (max-width:605px) {
    .box1 {
        height: 250px;
        width: 250px;
    }
    .henkilokuva{
        height: 250px;
        width: 250px;
    }
}
@media (max-width: 565px) {
    .box2{
        text-align: center;
        padding: 0;
    }
}