#teksti {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}
.container div {
    margin: 30px auto;
    max-width: 100%;
}

