.container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    max-width:600px;
}

#tilastotInfo p{
   
    text-align: center;
    font-size: large;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

