@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}
html{
    margin: 0;
    padding: 0;
}
* {
    font-family: GalanoClassic,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #404040;
    color: white;
}
img{
    filter: grayscale(20%);
}
main {
    margin-top: 150px;
    padding: 30px 30px 0;
    min-height: 69vh;
}
.vetonappi {
    background-color: #ffffff;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;

}
#teemanappi {
    position: absolute;
    background-color: #ffffff;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    left: 20px;
    top: 90px;
}
.teemacontainer:hover #teemanappi {
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
    color: black;
}
.vetovalikko {
    position: absolute;
    right: 20px;
    top: 90px;
}
.sisalto {
    display: none;
    position: absolute;
    right: 0;
    background-color: #bdbdbd;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.sisalto a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.sisalto a:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 5px #ffffff;
}
.vetovalikko:hover .sisalto {
    display: block;
}
.vetovalikko:hover .vetonappi {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 5px #ffffff;
}
#otsikko{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
#valikko {

    display: table;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

}
#menu {
    margin: 10px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
li {
    display:block;
    position: relative;
    width:120px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
#menu a{
    display:block;
    padding:3px;
    color: rgb(200, 200, 200);
    text-decoration: none;
}
#ylapalkki {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    z-index: 999;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
#menu a:hover {
    text-shadow: 0 0 2px rgb(200, 200, 200);
    text-decoration: underline;
}
.tekstilinkki {
    color: white;
}
footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 999;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

footer img {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
.box2 p {
    color: black;
}
.box2 h3 {
    color: black;
}
@media (max-width:800px) {
#menu   {
    display: none;
}
}
@media (min-width:800px) {
    .vetovalikko {
        display: none;
    }
}