#videoteksti {
    max-width: 1000px;
    margin: 0 auto 30px;
    line-height: 30px;
    text-align: justify;
}

#videoteksti h2 {
    margin: 0 auto 30px;
}

#videoteksti p {
    margin: 0 auto 30px;
}

#video {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}