@font-face {
    font-family: GalanoClassic;
    src: url(GalanoClassic-Regular.woff2);
}
* {
    font-family: GalanoClassic,sans-serif;
}
body {
    background-color: rgb(75, 75, 75);
}
main {
    background-color: #EBEBEB;
    padding: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #EBEBEB;
}
img {
    max-width: 400px;
}
section{
    margin: 50px;
}
#flexbox {
    display: flex;
    flex-direction: column;
}
#otsikko {
    text-align: center;
}
#alaotsikko {
    text-align: center;
}